* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.grid {
    margin-top: 34px;
    height: 560px;
    width: 560px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 70px;
    width: 70px;
}